@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.header{
    /* width: 1160px; */
}
/* Shared styles */
.display-flex, .main-title{
    display: flex;
}

/* Navbar Styles */
.barnd-logo{
    align-items: center;
}
.header-menu{
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.menu-item{
    gap: 32px;
    list-style: none;
}

.navbar{
    justify-content: space-between;
    align-items: center;
    gap: 186px;
    margin: 20px 140px 18px 140px;
    
}
nav a{
    text-decoration: none;
}

/* navbar text decoration */
.logo-text{
    width: 8em;
    font-size: 2em;
    font-weight: 700;
    color: rgb(17, 17, 17);
    
}
.nav-btn{
    width: 180px;
    border-radius: 12px;
    border: none;
    padding: 10px;
    color:rgb(255, 255, 255) ;
    background: rgb(254, 163, 1);
    font-size: 20px;
    font-weight: 500;
}

.home-link{
   width: 58px;
   font-size: 20px;
   font-weight: 700; 
   color: rgb(254, 163, 1);
}
.about-link{
    width: 57px;
    font-size: 20px;
    font-weight: 500px;
    color: rgb(1, 172, 253);
}
.facilities-link{
    width: 80px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(5, 212, 223);
}
.admission-link{
    width: 96px;
    font-size: 20px;
    font-weight: 500;
    color:rgb(93, 88, 239) ;
}

/* hero section decoration */
.hero-container{
    justify-content: space-between;
    align-items: center;
    margin-left: 141px;
    margin-right: 140.39px;
    gap: 50px;

}
/* hero section text decoration */
.hero-text{
    gap:24px;
}
.hero-title{
    width: 640px;
    font-size: 56px;
    font-weight: 700;
    color: rgb(17, 17, 17);
}
.empower-text{
    color: rgb(254, 163, 1);
}
.towards-text{
    color:rgb(1, 172, 253)
}
.hero-description{
    font-size: 20px;
    font-weight: 400;
    color: rgb(17, 17, 17);

}
.hero-btn{
    width: 103px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    width: 197px;

}

/* main section design */
.main-card{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-left:140px;
    margin-right: 140px;
    margin-bottom: 200px;
}
.main-title{
    justify-content: center;
    gap: 80px;
    padding: 60px 0px 60px 0px;
    /* margin-top: 80px; */
    font-size: 46px;
    font-weight: 700;
    color: rgb(0, 0, 0);

}

main{
    background-image: url(../assets/bg.png)
    
}
.card-kinder{
    width: 367px;
    height: 476.78px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    text-align: center;

    
}
.kinder-img{
    padding: 53px 117px 32px 117px;
}
.card-title{
    font-size: 24.52px;
    font-weight: 700;  
}
.card-description{
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15.09px;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;

}
.kinder-read-more{
    color: rgb(100, 200, 255);
    font-size: 15.09px;
    font-weight: 700;
    padding-top: 40px;
}

.card-elementory{
    width: 367px;
    height: 476.78px;
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    text-align: center;
}
.elementary-read-more{
    color: rgb(240, 170, 0);
    font-size: 15.09px;
    font-weight: 700;
    padding-top: 40px;

}
.card-middle{
    width: 367px;
    height: 476.78px;
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    text-align: center;
}
.card-middle-read-more{
    color:rgb(135, 0, 255);
    font-size: 15.09px;
    font-weight: 700;
    padding-top: 40px;

}
.arrow-btn{
    display: flex;
    justify-content: center;
    margin-top: 0;
    gap: 3px;
 
}
.sign-one{
    width: 60px;
    height: 60px;
    font-size: 24px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    background: rgb(254, 163, 1);
    border: none;
}

/* Section two design */
.background-color{
    background: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
.container{
    display: flex;
    justify-content: center;
    margin: 197px 140px 190px 140px;
}
.stories-cards{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}
.story-one-card{
    width: 540px;
    height: 630px;
    border-radius: 16px;
    background: rgb(255, 255, 255);

}
.story-one-img{
    width: 540px;
    height: 337px;
    border-radius: 16px 16px 0px 0px;
    background: url(),rgb(217, 217, 217);

}



/* Foooter section design */
.footer-background{
    background-color: rgb(1, 172, 253);
    border: 20px;
}

/* media query for navbar */


